
.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 0.8fr 1.2fr;
  gap: 40px;
  padding: 40px;
  background: #fff;
}

/* LEFT FORM */
.contact-left .form-group {
  margin-bottom: 18px;
}

.contact-left label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 600;
}

.contact-left input,
.contact-left textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 5px;
}

.contact-left textarea {
  height: 120px;
  resize: none;
}

.captcha-row {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.captcha-box {
  padding: 12px 20px;
  background: #102c5f;
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
}

.captcha-input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
}

.submit-btn {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  background: #102c5f;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 16px;
  border-radius: 5px;
}

/* MIDDLE CONTACT INFO */
.contact-middle {
  margin-top: 20px;
}

.person-name {
  margin-left: 30px;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}

.info-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 18px;
}

.info-item .icon {
  font-size: 22px;
  margin-right: 12px;
  color: #0b2258;
}

.info-item a {
  color: inherit;
  text-decoration: none;
}

.icon1 {
  margin-top: 15px;
  font-size: 32px;
  margin-right: 12px;
  color: #0b2258;
}

.social-icons {
  display: flex;
  gap: 15px;
  font-size: 22px;
  margin-top: 15px;
}

.social-icons svg {
  cursor: pointer;
  border: 1px solid #000;
  padding: 8px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.social-icons svg:hover {
  background-color: #0b2258;
  color: #fff;
  border-color: #0b2258;
}

/* RIGHT MAP */
.contact-right iframe {
  width: 100%;
  height: 480px;
  border: 0;
  border-radius: 10px;
}



.feedback {
  margin-top: 100px;
  margin-left: 200px;
  font-size: 34px;
  font-weight: 600;
  color: #333;
}

.feedback h2 {
  border-bottom: 2px solid #007bff;
  width: 17%;
}

.feedback h2::after {
  content: "";
  display: block;
  width: 60px;
  border-radius: 2px;
}



@media (max-width: 992px) {
  .contact-wrapper {
    grid-template-columns: 1fr;
    padding: 30px;
  }

  .contact-right iframe {
    height: 300px;
  }

  .person-name {
    margin-left: 0;
    text-align: center;
  }

  .feedback {
    margin-left: 0;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .products-banner {
    height: 260px;
  }

  .products-banner h1 {
    font-size: 32px;
  }

  .products-banner h2 {
    font-size: 16px;
  }

  .captcha-row {
    flex-direction: column;
  }

  .feedback {
    font-size: 26px;
  }
}

@media (max-width: 480px) {
  .products-banner h1 {
    font-size: 26px;
  }

  .products-banner h2 {
    font-size: 14px;
  }

  .submit-btn {
    font-size: 14px;
    padding: 12px;
  }
}
