/*  GRID */
.featured-wrapper {
     background-image: url("/img2.jpg");
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
  padding: 40px 60px;
}

/* TITLE */
.featured-title {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  margin: 40px 0 20px;
  color: #1f2937;
}

.featured-title::after {
  content: "";
  width: 80px;
  height: 4px;
  background: linear-gradient(90deg, #1827ff, #665fcf);
  display: block;
  margin: 12px auto 0;
  border-radius: 10px;
}

/* CARD WRAPPER*/
.container {
  width: 280px;
  height: 360px;
  perspective: 1000px;
}

/*CARD */
.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s ease;
  border-radius: 20px;
}

.container:hover .card {
  transform: rotateY(180deg);
}

/* FRONT & BACK */
.front,
.back {
  position: absolute;
  inset: 0;
  /* border-radius: 10px; */
  backface-visibility: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*FRONT */
.front {
  overflow: hidden;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.front::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.2));
}

.front-heading {
  position: absolute;
  bottom: 20px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  z-index: 2;
}

/*BACK */
.back {
 background-image: url("/img.jpg");
  transform: rotateY(180deg);
  padding: 16px;
  justify-content: flex-start;
}

.back-img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
}

.back-title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.back-weight {
  font-size: 14px;
  color: #6b7280;
  margin: 6px 0;
}

.back-price {
  font-size: 20px;
  font-weight: 700;
  color: #16a34a;
  margin-bottom: 12px;
}

/* BUTTON */
.view-btn {
  padding: 10px 26px;
  border-radius: 30px;
  border: none;
  background: #111827;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.view-btn:hover {
  background: #c2b8b1;
  transform: translateY(-3px);
}

/*RESPONSIVE */
@media (max-width: 1200px) {
  .featured-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .featured-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .featured-wrapper {
    grid-template-columns: 1fr;
  }
}
