/* ================= BASE ================= */
.navbar {
  width: 100%;
  background: #fff;
  padding: 10px 0;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 100;
}

.nav-container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.nav-logo {
  width: 90px;
  border-radius: 40px;
}

/* LINKS */
.nav-links {
  display: flex;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: #222;
  font-size: 18px;
  font-weight: 500;
}

.nav-links a:hover {
  color: #7ac144;
}

/* ICONS */
.nav-icons {
  display: flex;
  align-items: center;
  gap: 18px;
}

.nav-icon {
  cursor: pointer;
}

.cart-icon-container {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -10px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

/* CUSTOMER CARE */
.customer-care {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 14px;
  background: #102c5f;
  color: white;
  border-radius: 30px;
}

.customer-care img {
  width: 20px;
}
.customer-care a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* ================= HAMBURGER ================= */
.hamburger {
  display: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.hamburger.close {
  transform: rotate(90deg);
}

/* OVERLAY */
.nav-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  /* backdrop-filter: blur(4px); */
  z-index: 98;
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .customer-care {
    display: none;
  }

  .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    width: 75%;
    height: 100vh;
    background: #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transition: left 0.35s ease;
    z-index: 999;
    box-shadow: 10px 0 30px rgba(0,0,0,0.15);
  }

  .nav-links.open {
    left: 0;
  }

  .nav-links a {
    font-size: 18px;
    font-weight: 600;
  }
}
